/*
 * B-VSA Semestrálny Projekt 2
 * Špecifikácia REST webových služieb slúžia pre detailný opis požadovanej funkcionality pre Semestrálny Projekt 2  v rámci predmetu B-VSA akademický rok 2022/2023.  Pre dopyty na väčšinu služieb (okrem createStudent a createTeacher) je potrebné byť prihlásený. Služby pracujú s Basic autentifikáciou. Každý študent a učiteľ je používateľ systému, ktorý sa môže prihlásiť. Niektoré služby vyžadujú autorizáciu/oprávnenie pre ich dopyt. Služba, ktorá je obmedzená oprávneniami, to má uvedené v popise služby.  Ak služba má vrátiť jeden objekt a nie je nájdený namiesto hodnoty null vráti odpoveď 404. V prípade nečakanej chyby má byť odpoveď s kódom 500 a v správe dôvod vzniku chyby (správa zo vzniknutej Exception). 
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.CreateStudentRequest;
import org.openapitools.client.model.Message;
import org.openapitools.client.model.Student;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class StudentApi {
    private ApiClient localVarApiClient;

    public StudentApi() {
        this(Configuration.getDefaultApiClient());
    }

    public StudentApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for createStudent
     * @param createStudentRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Objekt novo vytvoreného študenta. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal server error. Nepredvídateľná chyba na servery pri spracovaní dopytu. Kód v odpovedi je vždy 500.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createStudentCall(CreateStudentRequest createStudentRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = createStudentRequest;

        // create path and map variables
        String localVarPath = "/api/students";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createStudentValidateBeforeCall(CreateStudentRequest createStudentRequest, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'createStudentRequest' is set
        if (createStudentRequest == null) {
            throw new ApiException("Missing the required parameter 'createStudentRequest' when calling createStudent(Async)");
        }
        

        okhttp3.Call localVarCall = createStudentCall(createStudentRequest, _callback);
        return localVarCall;

    }

    /**
     * Create new student
     * Vytvorenie nového študenta. Po vytvorení je možné sa prihlásiť ako novo registrovaný študent. Služba je verejne dostupná bez prihlásenia. 
     * @param createStudentRequest  (required)
     * @return Student
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Objekt novo vytvoreného študenta. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal server error. Nepredvídateľná chyba na servery pri spracovaní dopytu. Kód v odpovedi je vždy 500.  </td><td>  -  </td></tr>
     </table>
     */
    public Student createStudent(CreateStudentRequest createStudentRequest) throws ApiException {
        ApiResponse<Student> localVarResp = createStudentWithHttpInfo(createStudentRequest);
        return localVarResp.getData();
    }

    /**
     * Create new student
     * Vytvorenie nového študenta. Po vytvorení je možné sa prihlásiť ako novo registrovaný študent. Služba je verejne dostupná bez prihlásenia. 
     * @param createStudentRequest  (required)
     * @return ApiResponse&lt;Student&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Objekt novo vytvoreného študenta. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal server error. Nepredvídateľná chyba na servery pri spracovaní dopytu. Kód v odpovedi je vždy 500.  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Student> createStudentWithHttpInfo(CreateStudentRequest createStudentRequest) throws ApiException {
        okhttp3.Call localVarCall = createStudentValidateBeforeCall(createStudentRequest, null);
        Type localVarReturnType = new TypeToken<Student>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create new student (asynchronously)
     * Vytvorenie nového študenta. Po vytvorení je možné sa prihlásiť ako novo registrovaný študent. Služba je verejne dostupná bez prihlásenia. 
     * @param createStudentRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Objekt novo vytvoreného študenta. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal server error. Nepredvídateľná chyba na servery pri spracovaní dopytu. Kód v odpovedi je vždy 500.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createStudentAsync(CreateStudentRequest createStudentRequest, final ApiCallback<Student> _callback) throws ApiException {

        okhttp3.Call localVarCall = createStudentValidateBeforeCall(createStudentRequest, _callback);
        Type localVarReturnType = new TypeToken<Student>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for deleteStudent
     * @param id  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Objekt študenta ktorý bol vymazaný. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized request.  Dopyt musí byt autorizovaný platnou autentifikačnou schémou. Kód v odpovedi je vždy 401.  </td><td>  * WWW_Authenticate -  <br>  </td></tr>
        <tr><td> 403 </td><td> Authorized user doesn&#39;t have permission for the request. Autentifikovaný používateľ nemá oprávnenie na dopyt. Kód v odpovedi je vždy 403.  </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Requested resource was not found. Objekt nebolo možné nájsť. Kód v odpovedi je vždy 404.  </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal server error. Nepredvídateľná chyba na servery pri spracovaní dopytu. Kód v odpovedi je vždy 500.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deleteStudentCall(Long id, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/students/{id}"
            .replaceAll("\\{" + "id" + "\\}", localVarApiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call deleteStudentValidateBeforeCall(Long id, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling deleteStudent(Async)");
        }
        

        okhttp3.Call localVarCall = deleteStudentCall(id, _callback);
        return localVarCall;

    }

    /**
     * Delete a student by id
     * Vymazanie študenta podľa identifikátora.  Vymazať študenta môže iba učiteľ (t.j. prihlásený je učiteľ) alebo prihlásený študent s rovnakým identifikátorom ako v dopyte. 
     * @param id  (required)
     * @return Student
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Objekt študenta ktorý bol vymazaný. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized request.  Dopyt musí byt autorizovaný platnou autentifikačnou schémou. Kód v odpovedi je vždy 401.  </td><td>  * WWW_Authenticate -  <br>  </td></tr>
        <tr><td> 403 </td><td> Authorized user doesn&#39;t have permission for the request. Autentifikovaný používateľ nemá oprávnenie na dopyt. Kód v odpovedi je vždy 403.  </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Requested resource was not found. Objekt nebolo možné nájsť. Kód v odpovedi je vždy 404.  </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal server error. Nepredvídateľná chyba na servery pri spracovaní dopytu. Kód v odpovedi je vždy 500.  </td><td>  -  </td></tr>
     </table>
     */
    public Student deleteStudent(Long id) throws ApiException {
        ApiResponse<Student> localVarResp = deleteStudentWithHttpInfo(id);
        return localVarResp.getData();
    }

    /**
     * Delete a student by id
     * Vymazanie študenta podľa identifikátora.  Vymazať študenta môže iba učiteľ (t.j. prihlásený je učiteľ) alebo prihlásený študent s rovnakým identifikátorom ako v dopyte. 
     * @param id  (required)
     * @return ApiResponse&lt;Student&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Objekt študenta ktorý bol vymazaný. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized request.  Dopyt musí byt autorizovaný platnou autentifikačnou schémou. Kód v odpovedi je vždy 401.  </td><td>  * WWW_Authenticate -  <br>  </td></tr>
        <tr><td> 403 </td><td> Authorized user doesn&#39;t have permission for the request. Autentifikovaný používateľ nemá oprávnenie na dopyt. Kód v odpovedi je vždy 403.  </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Requested resource was not found. Objekt nebolo možné nájsť. Kód v odpovedi je vždy 404.  </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal server error. Nepredvídateľná chyba na servery pri spracovaní dopytu. Kód v odpovedi je vždy 500.  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Student> deleteStudentWithHttpInfo(Long id) throws ApiException {
        okhttp3.Call localVarCall = deleteStudentValidateBeforeCall(id, null);
        Type localVarReturnType = new TypeToken<Student>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Delete a student by id (asynchronously)
     * Vymazanie študenta podľa identifikátora.  Vymazať študenta môže iba učiteľ (t.j. prihlásený je učiteľ) alebo prihlásený študent s rovnakým identifikátorom ako v dopyte. 
     * @param id  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Objekt študenta ktorý bol vymazaný. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized request.  Dopyt musí byt autorizovaný platnou autentifikačnou schémou. Kód v odpovedi je vždy 401.  </td><td>  * WWW_Authenticate -  <br>  </td></tr>
        <tr><td> 403 </td><td> Authorized user doesn&#39;t have permission for the request. Autentifikovaný používateľ nemá oprávnenie na dopyt. Kód v odpovedi je vždy 403.  </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Requested resource was not found. Objekt nebolo možné nájsť. Kód v odpovedi je vždy 404.  </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal server error. Nepredvídateľná chyba na servery pri spracovaní dopytu. Kód v odpovedi je vždy 500.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deleteStudentAsync(Long id, final ApiCallback<Student> _callback) throws ApiException {

        okhttp3.Call localVarCall = deleteStudentValidateBeforeCall(id, _callback);
        Type localVarReturnType = new TypeToken<Student>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getAllStudents
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Zoznam všetkých študentov v systéme. Ak v systéme neexistujú žiadny študenti je vrátení prázdny zoznam. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized request.  Dopyt musí byt autorizovaný platnou autentifikačnou schémou. Kód v odpovedi je vždy 401.  </td><td>  * WWW_Authenticate -  <br>  </td></tr>
        <tr><td> 404 </td><td> Requested resource was not found. Objekt nebolo možné nájsť. Kód v odpovedi je vždy 404.  </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal server error. Nepredvídateľná chyba na servery pri spracovaní dopytu. Kód v odpovedi je vždy 500.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAllStudentsCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/students";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getAllStudentsValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = getAllStudentsCall(_callback);
        return localVarCall;

    }

    /**
     * Get all students
     * Získanie zoznamu všetkých študentov.
     * @return List&lt;Student&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Zoznam všetkých študentov v systéme. Ak v systéme neexistujú žiadny študenti je vrátení prázdny zoznam. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized request.  Dopyt musí byt autorizovaný platnou autentifikačnou schémou. Kód v odpovedi je vždy 401.  </td><td>  * WWW_Authenticate -  <br>  </td></tr>
        <tr><td> 404 </td><td> Requested resource was not found. Objekt nebolo možné nájsť. Kód v odpovedi je vždy 404.  </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal server error. Nepredvídateľná chyba na servery pri spracovaní dopytu. Kód v odpovedi je vždy 500.  </td><td>  -  </td></tr>
     </table>
     */
    public List<Student> getAllStudents() throws ApiException {
        ApiResponse<List<Student>> localVarResp = getAllStudentsWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Get all students
     * Získanie zoznamu všetkých študentov.
     * @return ApiResponse&lt;List&lt;Student&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Zoznam všetkých študentov v systéme. Ak v systéme neexistujú žiadny študenti je vrátení prázdny zoznam. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized request.  Dopyt musí byt autorizovaný platnou autentifikačnou schémou. Kód v odpovedi je vždy 401.  </td><td>  * WWW_Authenticate -  <br>  </td></tr>
        <tr><td> 404 </td><td> Requested resource was not found. Objekt nebolo možné nájsť. Kód v odpovedi je vždy 404.  </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal server error. Nepredvídateľná chyba na servery pri spracovaní dopytu. Kód v odpovedi je vždy 500.  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<Student>> getAllStudentsWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = getAllStudentsValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<List<Student>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get all students (asynchronously)
     * Získanie zoznamu všetkých študentov.
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Zoznam všetkých študentov v systéme. Ak v systéme neexistujú žiadny študenti je vrátení prázdny zoznam. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized request.  Dopyt musí byt autorizovaný platnou autentifikačnou schémou. Kód v odpovedi je vždy 401.  </td><td>  * WWW_Authenticate -  <br>  </td></tr>
        <tr><td> 404 </td><td> Requested resource was not found. Objekt nebolo možné nájsť. Kód v odpovedi je vždy 404.  </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal server error. Nepredvídateľná chyba na servery pri spracovaní dopytu. Kód v odpovedi je vždy 500.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAllStudentsAsync(final ApiCallback<List<Student>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getAllStudentsValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<List<Student>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getStudent
     * @param id  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Objekt študenta so zadaným identifikátorom. V prípade, že taký študent neexistuje tak je vrátená odpoveď 404. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized request.  Dopyt musí byt autorizovaný platnou autentifikačnou schémou. Kód v odpovedi je vždy 401.  </td><td>  * WWW_Authenticate -  <br>  </td></tr>
        <tr><td> 404 </td><td> Requested resource was not found. Objekt nebolo možné nájsť. Kód v odpovedi je vždy 404.  </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal server error. Nepredvídateľná chyba na servery pri spracovaní dopytu. Kód v odpovedi je vždy 500.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getStudentCall(Long id, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/students/{id}"
            .replaceAll("\\{" + "id" + "\\}", localVarApiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getStudentValidateBeforeCall(Long id, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getStudent(Async)");
        }
        

        okhttp3.Call localVarCall = getStudentCall(id, _callback);
        return localVarCall;

    }

    /**
     * Get a student by id
     * Získanie študenta podľa identifikátora.
     * @param id  (required)
     * @return Student
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Objekt študenta so zadaným identifikátorom. V prípade, že taký študent neexistuje tak je vrátená odpoveď 404. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized request.  Dopyt musí byt autorizovaný platnou autentifikačnou schémou. Kód v odpovedi je vždy 401.  </td><td>  * WWW_Authenticate -  <br>  </td></tr>
        <tr><td> 404 </td><td> Requested resource was not found. Objekt nebolo možné nájsť. Kód v odpovedi je vždy 404.  </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal server error. Nepredvídateľná chyba na servery pri spracovaní dopytu. Kód v odpovedi je vždy 500.  </td><td>  -  </td></tr>
     </table>
     */
    public Student getStudent(Long id) throws ApiException {
        ApiResponse<Student> localVarResp = getStudentWithHttpInfo(id);
        return localVarResp.getData();
    }

    /**
     * Get a student by id
     * Získanie študenta podľa identifikátora.
     * @param id  (required)
     * @return ApiResponse&lt;Student&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Objekt študenta so zadaným identifikátorom. V prípade, že taký študent neexistuje tak je vrátená odpoveď 404. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized request.  Dopyt musí byt autorizovaný platnou autentifikačnou schémou. Kód v odpovedi je vždy 401.  </td><td>  * WWW_Authenticate -  <br>  </td></tr>
        <tr><td> 404 </td><td> Requested resource was not found. Objekt nebolo možné nájsť. Kód v odpovedi je vždy 404.  </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal server error. Nepredvídateľná chyba na servery pri spracovaní dopytu. Kód v odpovedi je vždy 500.  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Student> getStudentWithHttpInfo(Long id) throws ApiException {
        okhttp3.Call localVarCall = getStudentValidateBeforeCall(id, null);
        Type localVarReturnType = new TypeToken<Student>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get a student by id (asynchronously)
     * Získanie študenta podľa identifikátora.
     * @param id  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Objekt študenta so zadaným identifikátorom. V prípade, že taký študent neexistuje tak je vrátená odpoveď 404. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthorized request.  Dopyt musí byt autorizovaný platnou autentifikačnou schémou. Kód v odpovedi je vždy 401.  </td><td>  * WWW_Authenticate -  <br>  </td></tr>
        <tr><td> 404 </td><td> Requested resource was not found. Objekt nebolo možné nájsť. Kód v odpovedi je vždy 404.  </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal server error. Nepredvídateľná chyba na servery pri spracovaní dopytu. Kód v odpovedi je vždy 500.  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getStudentAsync(Long id, final ApiCallback<Student> _callback) throws ApiException {

        okhttp3.Call localVarCall = getStudentValidateBeforeCall(id, _callback);
        Type localVarReturnType = new TypeToken<Student>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
